* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.read-page {
  padding: 2vw;
}

nav {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 1vw;
}

.options a {
  text-decoration: none !important;
  font-size: 1vw;
  color: black;
  font-style: bold;
}
